.play{
  background: url("../images/play.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 17px;
  text-indent: 10px;
  text-align: center;
  background-size: contain;
  display: inline-block;
  border-radius: 3px;
}

.pause{
  background: url("../images/pause.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 17px;
  text-indent: 10px;
  text-align: center;
  background-size: contain;
  border-radius: 3px;
}
/* Sources: https://stackoverflow.com/questions/12543697/setting-an-image-button-in-css-imageactive,
https://www.w3schools.com/css/css3_buttons.asp */
